/* 글 목록 카드 제목 크기 축소 */
.article-list {
    article {
        .article-title {
            h2 {
                font-size: 1.5rem;
                line-height: 1.5;

                @media (min-width: 768px) {
                    font-size: 1.6rem;
                }
            }
        }

        .article-subtitle {
            font-size: 1.3rem;
            line-height: 1.6;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

/* 페이지네이션 현재 페이지에 악센트 컬러 */
.pagination {
    .page-link {
        font-size: 1.4rem;

        &.current {
            background-color: var(--accent-color);
            color: #fff;
            font-weight: 700;
        }

        &:hover:not(.current):not(.disabled) {
            background-color: var(--card-background-selected);
            color: var(--accent-color);
        }
    }
}
