{{ define "body-class" }}template-archives{{ end }}
{{ define "right-sidebar" }}{{ end }}

{{ define "main" }}
    <header class="archives-header">
        {{- $sections := slice "tech" "til" "log" -}}
        {{- $sectionPages := slice -}}
        {{- range $sections -}}
            {{- $page := $.Site.GetPage . -}}
            {{- if $page -}}
                {{- $sectionPages = $sectionPages | append $page -}}
            {{- end -}}
        {{- end -}}
        {{- if $sectionPages -}}
        <h2 class="section-title">분류</h2>
        <div class="subsection-list">
            <div class="article-list--tile">
                {{- range $sectionPages -}}
                    {{ partial "article-list/tile" . }}
                {{- end -}}
            </div>
        </div>
        {{- end -}}
    </header>

    {{ $pages := partial "helper/pages.html" .Site.Home }}

    {{ range $pages.GroupByDate "2006" }}
    {{ $id := lower (replace .Key " " "-") }}
    <div class="archives-group" id="{{ $id }}">
        <h2 class="archives-date section-title"><a href="{{ $.RelPermalink }}#{{ $id }}">{{ .Key }}</a></h2>
        <div class="article-list--compact">
            {{ range .Pages }}
                {{ partial "article-list/compact" . }}
            {{ end }}
        </div>
    </div>
    {{ end }}

    {{ partialCached "footer/footer" . }}
{{ end }}
